<li>
	<%= avatar_for user, :thumb %>
	<%= link_to user[:name], user %>
	<% if signed_in? and current_user.admin? %>
		| <%= link_to "Delete", user, :method => :delete, :confirm => "You sure?",
		:title => "Delete #{user.name}" %>
	<% end %>
</li>
