<table class="profile" summary="Profile information">%>
	<td class="main">
		<%# <% @results.each do |post| %> %>
			<%# <%= render 'art', :post => post %> 
		<%# <% end %> %>
	</td>
	<td>
		<table>
			<% if signed_in? %>
				<div class="sidebar round">
					<%= render 'shared/user_info' %>
					<span>Member since: </span>
					<%= current_user[:created_at].strftime("%Y-%b-%d") %><br />
					
				</div>
			<% end %>
		</table>
	</td>
</table>
