<table class="fist_row" >
	<td class="row_left round" >
		<table class="art_table">
			<% @results.each do |post| %>
				<%= render 'art', :post => post %> 
			<% end %>
		</table>
	</td>
	<% if signed_in? %>
		<td class="side">
			<table>
				<%= createUserPanel %>	
			</table>
		</td>
		<%# <%= render 'facebook' %> 
	<% end %>
</table>
