<div class="row" id="first_row">
	<div class="row_left">
		
	</div>
	<div class="row_right">
		<div id="sign_in">
			<% if true %> <!-- if not signed in, show sign in -->
				<%= link_to "Sign in", sign_in_path, :class => "sign_in_button round" %>
			<% else %> <!-- if not signed in, show profile -->
			<% end %>
		</div>
		<div id="calendar">
		
		</div>
	</div>
</div>
<div class="row" id="second_row">
	<div id="links">
		
	</div>
	<div id="social">
	
	</div>
</div>
