<div class="row" id="first_row">
	<div class="row_left">
		
	</div>
	<div class="row_right">
		<div id="sign_in">
		
		</div>
		<div id="calendar">
		
		</div>
	</div>
</div>
<div class="row" id="second_row">
	<div id="links">
		
	</div>
	<div id="social">
	
	</div>
</div>
