<h1 style='color: darkred; font:italic bold 2em Georgia, serif; letter-spacing:2px'>Greetings [<%= link_to 'English', welcome_path %>] [<%= link_to 'Chinese', welcome_ch_path %>]</h3>
<table class="first_row">
	<td class="row_left round">	
		<table>
			<%= render 'english_letter' %>
		</table>
	</td>
</table>

