.container {
	width: 100%;
	overflow: hidden;
}
body {
	background: #000;
	margin: 0 auto;
}
header {
	padding-top: 20px;
	background: darkred;
	width: 100%;
	margin: 0 auto;
}
header img {
	margin-left: -20px;
	background: darkred;
	width: 30%;
}
header a:hover {
	background: darkred;
	width:10px !important;
}

header .inner {
	width: 1000px;
	border: 0px solid lightyellow;
	margin: 0 auto;
	padding: 0;
}
section {
	width: 1000px;
	margin: 5px auto;
	font-size: 120%;
	padding: 20px;
	background: lightyellow;
	overflow: auto;
}
section h1 {
	font-size: 200%;
}

/* Links */
a {
	color: #09c;
	text-decoration: none;
}
a:hover {
	color: #069;
	text-decoration: underline;
}
a:visited {
	color: #069;
}

/* Round corners */
.round {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Navigation */
nav {
	float: clear;
}
nav {
	background-color: darkred;
	padding: 5px 0.7em;
	white-space: nowrap;
	margin: 5px auto;
	text-align: center;
	font-size: 120%;
}
nav ul {
	margin: 0 auto;
	padding: 0;
}
nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}
nav ul li a {
	color: white;
	padding: 0 10px;
	font-weight: bold;
	display:inline;
}
nav ul li a:visited {
	color: white;
}
nav ul li a:hover {
	color: white;
	text-decoration: none;
	/* border: 1px solid #999; */
	/* border-right: groove; */
	border-top: groove;
}
nav#site-nav ul li a {
	padding: 0 35px;
	padding-top: 10px;
}
nav#foot-nav {
	width: 60%;
	background-color: #AAA;	
}
nav#foot-nav ul li a {
	padding: 0 25px;
}
nav#foot-nav ul li a:hover {
	color: white;
	border: none;
	text-decoration: underline;
}
footer {
	text-align: center;
	margin: 5px auto 0 auto;
	width: 1000px;
}
footer nav {
	float: none;
}

/* User show page */
table.profile {
	width: 100%;
	margin-bottom: 0;
}
td.main {
	width: 70%;
	padding: 1em;
}
td.sidebar {
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #ffc;
}
.profile img.gravatar {
	border: 1px solid #999;
	margin-bottom: -15px;
}

/* Sign up form */
div.field, div.actions {
	margin-bottom: 10px;
}

/* First row */
.first_row .row_right {
	float: right;
	display: block;
}
.first_row .row_right #sign_in {
	display: block;	
	margin-bottom: 50px;
}
.first_row .row_right #calendar {
	display: block;	
}
.profile_links {
	margin-right: 20px;
	float: right;	
}
.first_row .home_sidebar {
	width: 300px;
	padding: 1em;
	vertical-align: top;
	background: #ffc;	
}

/* Sign in button */
a.sign_in_button {
	float: right;
	margin: 0 auto;	
}
a.sign_in_button {
	display: block;
	text-align: center;
	width: 310px;
	color: #fff;
	/* background: #006400; */
	background: -webkit-gradient(linear, left top, left bottom, from(#669CFF), to(#002E85));
	background: -moz-linear-gradient(top,  #669CFF,  #002E85);
	background: -o-linear-gradient(top,  #669CFF,  #002E85);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#669CFF', endColorstr='#002E85');
	font-size: 100%;
	font-weight: bold;
	padding: 5px;
	border: 1px solid #aaa;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* Error message */
.field_with_errors {
	margin-top: 10px;
	padding: 2px;
	background-color: red;
	display: table;
}
.field_with_errors label {
	color: #fff;
}
#error_explanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}
#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}
#error_explanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}
#error_explanation ul li {
	font-size: 12px;
	list-style: square;
}
