<tr>
	<td>
		<%= link_to avatar_for(organization, :medium), organization %>
	</td>
	<td>
		<table>
			<td style='border-right: 1px solid #000'><%= link_to organization[:name], organization %>
			<td><%= organization.description %></td>
			<% if signed_in? and current_user.admin? %>
				<td><%= button_to "Delete", organization, :method => :delete, :onclick => "return confirm('Are you sure?')",
					:title => "Delete #{organization.name}", :remote => true %></td>
			<% end %>
		</table>
	</td>
</tr>
