<div id='admin_form'>
	<%= form_for current_club.club_admins.find_by_member_id(user.id),
			html: { method: :delete },
			remote: true do |f| %>
			<%= f.submit "Remove admin", class: "actions" %>
	<% end %>
</div>

